restaurant_management.json
{
  "updatedAt": "2026-04-24T17:12:32.936Z",
  "createdAt": "2026-04-23T21:11:38.504Z",
  "id": "SCS8UA5Mq6pYn21x",
  "name": "Restaurant management",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        -112
      ],
      "id": "ec77b2b6-ab44-4b2b-b0fd-b7fcc961e3b2",
      "name": "Telegram Trigger",
      "webhookId": "cd6188fd-257d-4480-8120-6d337182e77d",
      "credentials": {
        "telegramApi": {
          "id": "gZtlY5x40bbdtwSL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "### ROLE ** You are my restaurant customer support manager. Your role is to route user message to one of your employees. \n ### EMPLOYEES \n** Questions Expert: If the user has any questions about our menu or the restaurant \n** Orders Expert: If the user wants to make or cancel an order.\n If the user provides his information.\n If the user has any question about his order. \nIf the user has chosen a specific order or items. \nIf the user provides the order ID.\n ** Generalist: If the user sent a general message (e.g. Hi, Good morning)  \n### OUTPUT EXAMPLE { \"employee\": \"Questions Expert\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -736,
        -112
      ],
      "id": "fc7ef48c-be6c-4b54-85fe-cc5313fa4c9f",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -800,
        128
      ],
      "id": "11407a2e-faaa-4f5b-b095-0a382952a4ca",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "MrGInArp43WAKaxj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"employee\": \"Questions Expert\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -608,
        112
      ],
      "id": "d4f3bdcf-3471-491b-afbc-b7405d99acea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Questions Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4f7d8e6b-aa89-4073-8af0-bdb6b1d0d920"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d50a303-76a3-4a86-8a90-75943b7eff20",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Orders Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "orders"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7179eb55-abd7-4c01-a0ed-d3931bdd4101",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Generalist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        -128
      ],
      "id": "dd048cbc-f878-405d-af6b-da5dba57b364",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cd5f22d-75f1-4ae9-840e-d4ed172bccc6",
              "name": "system prompt",
              "value": "You are my restaurant customer support expert",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        64
      ],
      "id": "abc9d611-a6f5-4f33-9cfd-d106d2f481fa",
      "name": "general"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cd5f22d-75f1-4ae9-840e-d4ed172bccc6",
              "name": "system prompt",
              "value": "### ROLE\n** You are responsible for orders management in our restaurant. Making an order, Cancelling an order, replying to inqueries about an order.\n\n### TOOLS\n** orders_sheet_read_tool: you use it to reply to users asking about their orders after getting the order ID from the user\n** code_tool: use it to generate a unique ID of 4 numbers before using orders_sheet_write_tool\n** orders_sheet_write_tool: you use it to add an order to the sheet.\n** order_sheet_cancel_tool: you use it to cancel an order\n** restaurant_knowledge_base: Find here our information related to the restaurant and menu\n\n### INSTRUCTIONS\n** Ask the user about all needed data, Name, Phone Number, Address, Order. MAKE SURE to collect all needed data\n** Confirm order data before using adding it to the sheet or cancelling it\n** If a user wants to cancel an order, make sure to take the order ID whether from conversation history or ask the user.\n** If you can't find an order for a certain ID, tell them that their order wasn't taken successfully, please tell me your order again\n** Always generate a unique ID using code_tool before saving the order\nOnce you have the Name, Phone, and Address, immediately use the orders_sheet_write_tool to save the order. After saving, provide the user with their Order ID and a confirmation message. Do not perform any more actions after saving",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -96
      ],
      "id": "55b4bf54-5a9e-4728-bae7-16a9aad70f69",
      "name": "Orders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cd5f22d-75f1-4ae9-840e-d4ed172bccc6",
              "name": "system prompt",
              "value": "### ROLE You are my restaurant expert in replying to users' questions. Use your connected knowledge base to reply to any inquery. \n### TOOLS ** restaurant_knowledge_base: Find here our information related to the restaurant and menu",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -240
      ],
      "id": "045e7c1f-c18c-41d2-9502-565b47be7357",
      "name": "questions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistant {{ $json['system prompt'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        -112
      ],
      "id": "ad9aae7f-eb08-4ec0-95c4-e5c17e42d4f6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        160
      ],
      "id": "7e20d05c-45a1-48ea-8f78-88a7bfc8fb96",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        112
      ],
      "id": "eb99cea6-485a-4db9-a443-f50598256e81",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "MrGInArp43WAKaxj",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q",
          "mode": "list",
          "cachedResultName": "Orders DT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order ID",
              "lookupValue": "={{ $fromAI(\"order_id\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        32
      ],
      "id": "8d21b7c8-ade4-495e-bdcb-b78314e31ac4",
      "name": "orders_sheet_read_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XPa5VXscWGKSxeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q",
          "mode": "list",
          "cachedResultName": "Orders DT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "={{ $fromAI(\"order_item\") }}",
            "Price ": "={{ $fromAI(\"order_price\") }}",
            "Order ID": "={{ Math.floor(Math.random() * 9000) + 1000 }}",
            "Name ": "={{ $fromAI(\"client_name\") }}",
            "Phone Number": "={{ $fromAI(\"client_phone\") }}",
            "Adress": "={{ $fromAI(\"client_address\") }}",
            "Status": "in Kitchen",
            "Time": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price ",
              "displayName": "Price ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adress",
              "displayName": "Adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        192
      ],
      "id": "7cda0e4e-46b8-4ff0-9cf3-3c590170436c",
      "name": "orders_sheet_write_tool1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XPa5VXscWGKSxeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q",
          "mode": "list",
          "cachedResultName": "Orders DT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JlBvCYChnerNUzsPUaH-j1xy8eAy4l_oJncJ7Dq5O_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Cancelled",
            "Order ID": "={{ $fromAI(\"order_id\") }}"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price ",
              "displayName": "Price ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adress",
              "displayName": "Adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        336
      ],
      "id": "5c20d5bc-c033-471e-8b16-3ea35aca38d0",
      "name": "orders_sheet_cancel_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XPa5VXscWGKSxeK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "information about restaurant menu and information ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        336
      ],
      "id": "e6b65448-8b96-46c3-a1bc-642d1b6f3a9f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "VU99AQbWtWmhwF0v",
          "name": "cours uploader"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        512
      ],
      "id": "64243d07-3394-400f-a811-ff0d868bc573",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "47EofL7aRTU9ZJbZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -144
      ],
      "id": "e8a13cda-4a4f-4f06-a552-fa924d13411e",
      "name": "Send a text message",
      "webhookId": "5818cb85-42ed-48eb-a0bc-07e43e732622",
      "credentials": {
        "telegramApi": {
          "id": "gBULElpuUHDdXcf4",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "general",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "questions": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "general": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_read_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_write_tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_cancel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "91824496-9608-40fb-95b7-c00634f26f57",
  "activeVersionId": null,
  "versionCounter": 257,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-23T21:11:38.507Z",
      "createdAt": "2026-04-23T21:11:38.507Z",
      "role": "workflow:owner",
      "workflowId": "SCS8UA5Mq6pYn21x",
      "projectId": "IfOklyXnCUD65DXr",
      "project": {
        "updatedAt": "2026-04-23T20:55:59.064Z",
        "createdAt": "2026-04-01T19:58:22.751Z",
        "id": "IfOklyXnCUD65DXr",
        "name": "Mohamedalamin Alouane <mohamedalaminalouane@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "73815250-7a94-4f39-8be8-a352886e2148"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}